@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?syibnd');
    src: url('../fonts/icomoon.eot?syibnd#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?syibnd') format('truetype'), url('fonts/icomoon.woff?syibnd') format('woff'), url('../fonts/icomoon.svg?syibnd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1226px;
    margin: 0 auto;
}

.header {
    height: 140px;
}

.header-nav {
    height: 40px;
    color: #b0b0b0;
    background-color: #333;
}

.nav-left {
    float: left;
}

.nav-left ul li {
    float: left;
}

.nav-left ul li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
    padding: 0 8px;
    font-size: 12px;
}

.nav-left ul li:first-child a {
    padding-left: 0;
}

.nav-left ul li a:hover {
    color: white;
}

.nav-right {
    float: right;
}

.nav-right ul li {
    float: right;
}

.nav-right ul li a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #b0b0b0;
    padding: 0 6px;
}

.nav-right ul li:first-of-type a {
    background-color: #424242;
    padding: 0 20px;
}

.header-bottom {
    position: relative;
    height: 100px;
}

.logo {
    position: absolute;
    top: 22px;
    left: 0;
    width: 49px;
    height: 49px;
}

.logo a {
    display: block;
    width: 49px;
    height: 49px;
    font-size: 0;
    background: orange url(../images/mi-logo.png) no-repeat;
}

.hotwords {
    position: absolute;
    top: 42px;
    left: 234px;
    width: 630px;
    height: 15px;
    line-height: 15px;
    font-size: 16px;
}

.hotwords a {
    margin: 0 10px;
}

.search {
    position: absolute;
    top: 25px;
    right: 0;
    width: 296px;
    height: 50px;
}

.search input {
    float: left;
    width: 244px;
    height: 50px;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    border-right: none;
}

.search button {
    float: right;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: white;
}

.main {
    height: 644px;
    background-color: pink;
}

.main-top {
    position: relative;
    height: 460px;
}

.main-top img {
    width: 100%;
    height: 100%;
}

.main-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 100%;
    background-color: rgba(105, 101, 101, .6);
    padding-top: 20px;
}

.main-top-left ul li {
    position: relative;
    width: 100%;
    height: 42px;
    line-height: 42px;
}

.main-top-left ul li::after {
    position: absolute;
    top: 0;
    right: 24px;
    content: '';
    font-family: 'icomoon';
    color: white;
}

.main-top-left ul li a {
    display: block;
    width: 100%;
    height: 42px;
    padding-left: 30px;
    color: white;
}

.main-top-left ul li:hover a {
    background-color: orange;
}

.main-top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 992px;
}

.main-top-right ul {
    position: absolute;
    left: 876px;
    top: 424px;
}

.main-top-right ul li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 8px;
}

.main-top-right ul li a {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid #9aa2a8;
    background-color: #6d7981;
    border-radius: 5px;
}